* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-align: center;
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: dodgerblue;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

nav a:hover {
  background-color: blue;
}

nav a {
  color: white;
  display: inline-block;
  margin: 1em;
  padding: 1rem;
}

form div {
  display: inline-block;
}

/* below are for component products */

#productsContainer {
  margin: 1rem auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  /* border: 2px solid red; */
}

/* below are for component productCard */

.productCardContainer {
  width: calc(100% / 3 - 2em);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.bestSeller {
  height: 2.5rem;
  width: 40%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 0px;
  left: 0px;
}

.bestSellerShow {
  color: white;
  background-color: orange;
}

.bestSellerNotShow {
  visibility: hidden;
}

.imgContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.productCardImg {
  margin: 0px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.cardItem {
  height: 2rem;
  font-size: 1.8rem;
  margin: 0.2rem auto;
}

.productBrand {
  font-size: 1.5rem;
  color: gray;
}

.productReview {
  font-size: 1.5rem;
  color: blue;
}

.addToCartBtn {
  width: 60%;
  height: 3rem;
  font-size: 2rem;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

/* below are for component Departments_slide */

.carousel {
  margin: 1rem auto;
  width: 100%;
  background-color: aqua;
}

/* below are for component productDetail */

.productDetailContainer {
  margin: 2rem auto;
  width: 80%;
  height: 55vh;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid blue */
}

.leftSection {
  display: flex;
  /* border: 1px solid red; */
  width: 48%;
}

.rightSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 52%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgListContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* border: 1px solid orange; */
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
}

.imgListContainer img {
  /* border: 1px solid purple; */
  width: 150px;
  cursor: pointer;
}

.bigImgContainer {
  width: 80%;
  position: relative;
}

.prodDetailBigImg {
  /* border: 2px solid green; */
  max-width: 100%;
  width: 630px;
}

.bestSellerInDetail {
  height: 2.5rem;
  width: 40%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 0px;
  left: 0px;
}

.detailItem {
  height: 2.5rem;
  font-size: 1.8rem;
  margin: 0.2rem auto;
  /* border: 1px dotted red; */
}

.detailTop {
  width: 80%;
  display: flex;
  justify-content: center;
}

.detailNameUnit {
  font-weight: 600;
  margin-right: 0.5rem;
}

.detailBrand {
  margin-left: 0.5rem;
  font-size: 1.3rem;
  color: gray;
  line-height: 3rem;
}

.detailDescrip {
  width: 80%;
  color: black;
  height: 350px;
}

.detailReview {
  font-size: 1.5rem;
  color: purple;
}

.detailButtom {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.addToCartBtnDetail {
  width: 40%;
  height: 3rem;
  font-size: 2rem;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.backToShopBtn {
  width: 40%;
  height: 3rem;
  font-size: 2rem;
  background-color: orange;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btnInLink {
  background-color: orange;
  color: white;
  border: none;
}

.reviewContainer {
  margin: 2rem auto;
  width: 80%;
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reviewBoxTitle {
  /* border: 1px solid gray; */
  list-style: none;
  font-size: 1.7rem;
  font-weight: 600;
}

.reviewList {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 25vh;
  /* border: 1px solid green; */
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.listRow {
  list-style: none;
  height: 5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  font-size: 1.5rem;
}

.reviewRow1 {
  color: purple;
  font-size: 1.2rem;
  /* border: 1px solid yellow; */
}

.reviewRow2 {
  padding-left: 20px;
}
