body {
  font-family: sans-serif;
}

a {
  text-align: center;
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: dodgerblue;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

nav a:hover {
  background-color: blue;
}

nav a {
  color: white;
  display: inline-block;
  margin: 1em;
  padding: 1rem;
}

form div {
  margin: 1em;
  display: inline-block;
}
