* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-align: center;
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: center;
}

nav > div > * {
  display: flex;
  align-items: center;
}

nav a:hover {
  border: whitesmoke 1px solid;
}

nav a {
  color: white;
  margin: 1em;
  padding: 1rem;
}

#searchOptions {
  top: 100%;
}
nav > div > form {
  width: 40%;
  display: flex;
  flex-direction: column;
}
nav > div > form > div {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}
nav > div > form > div > input {
  width: 80%;
  height: 40%;
}

nav > div > form > div > a {
  width: 25%;
  height: 75%;
  border-radius: 25rem;
}
nav > div > form > div > a > button {
  width: 50%;
  height: 80%;
  border-radius: 25rem;
}

#search {
  width: 50%;
  height: 60%;
  border-radius: 70%;
}

nav > div {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

#cartImg {
  width: 100%;
}

#cart {
  width: 5%;
  height: 60%;
}

/* below are for component products */

#productsContainer {
  margin: 1rem auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

/* below are for component productCard */

.productCardContainer {
  flex-direction: column;
  width: calc((100% / 3) - 2em);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-radius: 1rem;
  border: 1px black solid;
  list-style: none;
  flex: 0 0 30%;
  text-align: center;
  padding: 2rem 0;
  margin: 1rem;
}
@media (max-width: 600px) {
  .productCardContainer {
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    border-radius: 1rem;
    border: 1px black solid;
    list-style: none;
    flex: 0 0 45%;
    text-align: center;
  }
}

.bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.bestSeller {
  height: 1.5em;
  width: 50%;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 0.5em;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (max-width: 915px) {
  .bestSeller {
    height: 1.2em;
    width: 100%;
    font-size: 1em;
    text-align: center;
    margin-bottom: 0.5em;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.bestSellerShow {
  color: white;
  background-color: orange;
}

.bestSellerNotShow {
  visibility: hidden;
}

.imgContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.productCardImg {
  margin: 0px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.cardItem {
  height: 2rem;
  font-size: 1.8rem;
  margin: 0.2rem auto;
}

#dropdown {
  background-color: cadetblue;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.dropdown-toggle::after {
  border-top: 0;
  content: none;
}

.productBrand {
  font-size: 1.5rem;
  color: gray;
}

.productReview {
  font-size: 1.2rem;
  color: blue;
  margin: 0 auto;
  height: 1.7rem;
}

.addToCartBtn {
  width: 60%;
  height: 3rem;
  font-size: 2rem;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
}
@media (max-width: 1300px) {
  .addToCartBtn {
    width: 80%;
    height: 2rem;
    font-size: 1.2rem;
    background-color: green;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
  }
}

/* below are for component DepartmentsSlide */

.carousel {
  margin: 1rem auto;
  width: 100%;
  background-color: aqua;
}

/* below are for admin page styling */
.admin-non-edit {
  font-style: italic;
  background-color: lightgray;
}

.admin-table {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

/* below are for component ProductDetail */

.productDetailContainer {
  margin: 2em auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.leftSection {
  display: flex;
  flex: 1;
  width: 40%;
  margin-right: 2em;
}
@media (max-width: 700px) {
  .leftSection {
    display: flex;
    flex: none;
    width: 100%;
    margin-right: 2em;
    padding-bottom: 2em;
  }
}
.rightSection {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  float: right;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 700px) {
  .rightSection {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex: none;
    flex-direction: column;
    float: right;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
/* below are for component productDetail -- images box on the left half of the page */

.bigImgContainer {
  width: 80%;
  position: relative;
}

.imgListContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
}

.imgListContainer img {
  width: 75%;
  height: auto;
  cursor: pointer;
}

.prodDetailBigImg {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

/* below are for component productDetail -- details box on the right half of the page */

.addToCartBtnDetail {
  width: 40%;
  height: 3rem;
  font-size: 2rem;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
@media (max-width: 1380px) and (min-width: 861px) {
  .addToCartBtnDetail {
    width: 40%;
    height: 2rem;
    font-size: 1.2rem;
    background-color: green;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
@media (max-width: 860px) {
  .addToCartBtnDetail {
    width: 40%;
    height: 2rem;
    font-size: 1.2rem;
    background-color: green;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}

.backToShopBtn {
  width: 40%;
  height: 3rem;
  font-size: 2rem;
  background-color: orange;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
@media (max-width: 1380px) and (min-width: 861px) {
  .backToShopBtn {
    width: 40%;
    height: 2rem;
    font-size: 1.2rem;
    background-color: orange;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
@media (max-width: 860px) {
  .backToShopBtn {
    width: 40%;
    height: 2rem;
    font-size: 1.2rem;
    background-color: orange;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}

.bestSellerInDetail {
  height: 2.5rem;
  width: 40%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (max-width: 1260px) {
  .bestSellerInDetail {
    height: 2rem;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.btnInLink {
  background-color: orange;
  color: white;
  border: none;
}

.detailBrand {
  margin-left: 0.5rem;
  font-size: 1.3rem;
  color: gray;
  line-height: 3rem;
}

.detailButtom {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.detailItem {
  height: 2.5rem;
  font-size: 1.8rem;
  margin: 0.2rem auto;
}
@media (max-width: 700px) {
  .detailItem {
    height: 1.5rem;
    font-size: 1rem;
    margin: 0.2rem auto;
  }
}
.detailDescrip {
  width: 80%;
  color: black;
  height: 350px;
}

.detailNameUnit {
  font-weight: 600;
  margin-right: 0.5rem;
}

.detailReview {
  font-size: 1.5rem;
  color: purple;
  margin-left: 0.5rem;
}

.detailTop {
  width: 80%;
  display: flex;
  justify-content: center;
}

/* below are for component productDetail -- reveiws box at the bottom of the page*/

.listRow {
  list-style: none;
  height: 5em;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  padding: 1em;
}

.reviewContainer {
  margin: 1em auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
}

.reviewBoxTitle {
  list-style: none;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0.3rem auto;
}

.reviewList {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.reviewRow1 {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
}

/* below are for side-nav-container */

#side-nav-container > ul {
  list-style-type: none;
}

/* below are for rating stars */

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: '★★★★★';
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: '★★★★★';
  font-weight: 900;
  color: #f8ce0b;
}

.reviewStarBox {
  display: flex;
  align-items: center;
}

.test {
  color: red;
  width: 50%;
}

/* below are for productCardCart */

.productCardContainerCart {
  width: 55%;
  margin: 1.5rem auto;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  position: relative;
}

.bestSellerCart {
  height: 1.5rem;
  width: 60%;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.2rem;
  position: absolute;
  top: 0px;
  left: 0px;
}

.imgContainerCart {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  margin: 0 auto;
}

.productCardImgCart {
  height: 100%;
  object-fit: fill;
}

.cartRight {
  width: 60%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.rowCart {
  height: 2.5rem;
  font-size: 1.5rem;
  margin: 0.2rem auto;
}

.productBrandCart {
  font-size: 1.2rem;
  color: gray;
  display: inline;
  margin-left: 1rem;
}

.productPriceCart {
  display: inline;
}

.orderQuantityCart {
  display: inline;
  margin-left: 1rem;
}

.totalItemAmtCart {
  display: inline;
  margin-left: 1rem;
  font-weight: 600;
}

.deleteCartBtnCart {
  width: 50%;
  height: 2rem;
  font-size: 1.5rem;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* below are in cart component */
.containerCart {
  width: 100%;
}

.userEmailCart {
  font-size: 2rem;
  color: blue;
  margin-left: 1rem;
}

.checkoutDivCart {
  width: 55%;
  margin: 2rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: space-evenly;
}

.checkoutBtnCart {
  background-color: orange;
  color: white;
  width: 50%;
  height: 2.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.totalAmtCart {
  height: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
}

/* below are for checkout component */
.containerCheckout {
  width: 100%;
  text-align: center;
}

.totalAmtCheckout {
  height: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem auto;
}

/* below are for stripeCheckoutButton component */
.payNowStripeBtn {
  background-color: orange;
  color: white;
  width: 25%;
  height: 2.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem auto;
}

/* below are for success component */
.successBox {
  width: 100%;
  text-align: center;
}

.paymentSuccess {
  margin: 1rem auto;
}

.thankyou {
  margin-top: 3rem;
  font-weight: 600;
  color: green;
}

.shoppingWithUs {
  margin-bottom: 3rem;
}

.backToShopBtnSuccess {
  margin-top: 1rem;
  width: 15rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  background: orange;
}
